*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
}

body {
  background-color: lightgrey;
  font-family: 'Pretendard Variable';
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
}
ol,
ul,
li {
  list-style: none;
}
