.container {
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  gap: 4px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
}
.title {
  width: 100%;
  font-size: 15px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.time {
  width: max-content;
  font-size: 12px;
  color: #8c8c8c;
  text-align: right;
  white-space: nowrap;
}
.content {
  font-size: 13px;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
