@import url('/app/_styles/_variables.scss');

.modalBackground {
  z-index: 9990;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 430px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  padding: 20px 16px 16px 16px;
  width: calc(100% - 32px);
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  border-radius: 12px;
  overflow: hidden;

  .textBox {
    display: flex;
    flex-direction: column;
    gap: 12px;

    > h4 {
      font-size: 20px;
      font-weight: var(--fw-bold);
    }

    > span {
      font-size: 13px;
      font-weight: var(--fw-medium);
      line-height: 19px;
    }
  }

  > .buttonBox {
    width: 100%;
    height: 52px;
    bottom: 0;
    display: flex;
    justify-content: space-between;

    > button {
      width: 48.5%;
      height: 100%;
      text-align: center;
      font-weight: var(--fw-semiBold);
      border-radius: 6px;
    }

    .yesButton {
      background-color: #2fd714;
      color: #fff;
    }

    .noButton {
      background-color: #e6e6e6;
      color: #8f8f8f;
    }

    .closeButton {
      width: 100%;
      background-color: #eee;
      border-top: 1px solid #ececec;
      color: #8f8f8f;
    }
  }
}
