.modalBackground {
  z-index: 9990;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal {
  width: calc(100% - 32px);
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 165px;
  border-radius: 12px;
  overflow: hidden;

  > p {
    flex: 1;
    display: flex;
    align-items: center;
    text-align: center;
  }

  > .buttonBox {
    width: 100%;
    height: 52px;
    bottom: 0;

    > button {
      border: none;
      width: 50%;
      height: 100%;

      &:hover {
      }
    }

    .yesButton {
      background-color: #2fd714;
      color: #fff;
    }

    .noButton {
      background-color: #fff;
      border-top: 1px solid #ececec;
      color: #8f8f8f;
    }

    .closeButton {
      width: 100%;
      background-color: #eee;
      border-top: 1px solid #ececec;
      color: #8f8f8f;
    }
  }
}
