.back {
  width: 24px;
  height: 24px;
  background-image: url('../../../../../public/assets/back.svg');
  border: none;
  background-color: #fff;
}
.bell {
  width: 24px;
  height: 24px;
  background-image: url('../../../../../public/assets/bell.svg');
  border: none;
  background-color: #fff;
}
.close {
  width: 24px;
  height: 24px;
  background-image: url('../../../../../public/assets/close.svg');
  border: none;
  background-color: #fff;
}
.heart {
  width: 24px;
  height: 24px;
  background-image: url('../../../../../public/assets/heart.svg');
  border: none;
  background-color: #fff;
}
.moreMenu {
  width: 24px;
  height: 24px;
  background-image: url('../../../../../public/assets/more-menu.svg');
  border: none;
  background-color: #fff;
}
.search {
  width: 24px;
  height: 24px;
  background-image: url('../../../../../public/assets/search.svg');
  border: none;
  background-color: #fff;
}

.container {
  padding-left: 8px;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
