.loadingContainer {
  height: calc(100dvh - 85px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loadingBox {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  animation: spin 3s linear infinite;
}
