.container {
  padding: 16px;
  position: relative;
}
.profile {
  display: flex;
  gap: 8px;
  align-items: center;
  h5 {
    margin: 0;
  }
  span {
    color: #8c8c8c;
  }
  margin-bottom: 12px;
}
.author {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profileCircle {
  width: 40px;
  height: 40px;
  background-color: #ffe138;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
