.line {
  width: 92%;
  height: 0px;
  border: 1px solid #f6f6f6;
  margin: 0 auto;
}
.commentInfo {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  padding: 16px 16px 0 16px;
}
