.container {
  font-size: 14px;
  background-color: #fff;
  min-height: 970px;
  position: relative;
  padding-bottom: 50px;
}
.boldLine {
  width: 100%;
  height: 0px;
  border: 4px solid #f6f6f6;
}
