.container {
  max-width: 430px;
  height: 100dvh;
  margin: 0 auto;
  padding: 16px;
  font-size: 14px;
  background-color: #fff;
}
.line {
  width: 100%;
  height: 0px;
  border: 1px solid #f6f6f6;
}
.commentInfo {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-top: 16px;
  div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
