.container {
  font-size: 14px;
  background-color: #fff;
  height: 100dvh;
  position: relative;
  padding-bottom: 100px;
  &.isToggle {
    background-color: #ccc;
  }
  overflow-y: scroll;
  -ms-overflow-style: none;
}
.container::-webkit-scrollbar {
  display: none;
}
.boldLine {
  width: 100%;
  height: 0px;
  border: 4px solid #f6f6f6;
}
