.modalCaseDiv {
  text-align: center;
  .title {
    font-size: 17px;
    font-weight: bold;
  }
  .nextTitle {
    margin-top: 16px;
  }
  .description {
    font-size: 12px;
    margin-block: 23px 33px;
  }
  button {
    cursor: pointer;
    background: transparent;
    border: 0;
    width: 100%;
    padding-block: 20px;
  }
}

.actionButton {
  font-size: 17px;
  color: #ff0000;
  font-weight: bold;
}
