.mainList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 27px;
  & > li {
    cursor: pointer;
    padding: 20px;
    font-size: 17px;
    color: red;
    font-weight: bolder;
  }
  & > .cancel {
    color: black;
    font-size: 15px;
  }
}
