.mainList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  justify-content: center;
  padding-top: 27px;
  & > li {
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
    padding-block: 15px;
    background-color: #fff;
    text-align: center;
    font-size: 15px;
    color: #f84646;
    font-weight: var(--fw-semiBold);
  }
  & > .delete {
    color: rgb(68, 68, 68, 0.6);
  }
  & > .cancel {
    background: #e6e6e6;
    color: rgb(68, 68, 68, 0.6);
    font-size: 15px;
  }
}
