.form {
  position: absolute;
  width: 100%;
  height: 100dvh;
  inset: -48px 0px;
  z-index: 30;
  box-shadow:
    16px 0 0 #fff,
    -16px 0 0 #fff;
  bottom: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #fff;
  padding: 44px 0;
}

.titleDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  & h2 {
    font-size: 18px;
    font-weight: var(--fw-semiBold);
  }
}

.ruleListDiv {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 20px;
}

.etcDiv {
  margin-top: 24px;
  padding-inline: 18px;
}

.submitDiv {
  display: flex;
  gap: 8px;
  text-align: center;
  margin-top: 12px;
  button {
    flex: 1;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    padding-block: 15px;
    color: #ff0000;
    font-size: 15px;
    font-weight: bolder;
  }
  .cancel {
    background: #e6e6e6;
    color: var(--crl-neutral-406);
  }
  .report {
    background-color: #ffc3c3;
    color: #e05858;
  }
}
