.title {
  padding: 14px 0 14px 7px;
  font-weight: bolder;
  font-size: 24px;
}
.previewDiv {
  height: calc(100dvh - 60px);
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  &::-webkit-scrollbar {
    display: none;
  }
}
