.container {
  display: flex;
  padding: 14px 15px 16px 0;
}

.avatar {
  display: block;
  margin-right: 11px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.textDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 15px;
  .sender {
    color: #3d3d3d;
  }
  .content {
    color: #a1a1a1;
  }
}

.informDiv {
  display: flex;
  flex-direction: column;
  gap: 8.81px;
  align-items: center;
  font-size: 12px;
  .time {
    color: #a1a1a1;
  }
  .notRead {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 21.81px;
    aspect-ratio: 1/1;
    background-color: #ff9b69;
    color: white;
  }
}
