.title {
  font-size: 20px;
  font-weight: bold;
  padding-block: 12px;
}
.roomsDiv {
  padding-top: 16px;
  height: calc(100dvh - 60px);
  background-color: #f5f5f5;
  box-shadow:
    16px 0 0 #f5f5f5,
    -16px 0 0 #f5f5f5;
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  &::-webkit-scrollbar {
    display: none;
  }
}
