.modalContainer {
  position: absolute;
  padding: 0 16px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0 0 0 / 60%);

  button {
    cursor: pointer;
  }
}

.filterModal {
  width: 100%;
  padding: 20px 16px;
  background-color: #fff;
  border-radius: 16px;

  .modalHeader {
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 18px;
      font-weight: var(--fw-semiBold);
    }
  }

  .selectorWrap {
    padding: 16px 0;

    h5 {
      margin-bottom: 12px;
      font-size: 12px;
      font-weight: var(--fw-semiBold);
    }

    .buttonWrap::-webkit-scrollbar {
      display: none;
    }
    .buttonWrap {
      overflow: scroll;
      display: flex;
      flex-wrap: nowrap;
      gap: 4px;
      -ms-overflow-style: none;
      scrollbar-width: none;

      > button {
        padding: 8px 17px;
        border: 1px solid #eaeaea;
        border-radius: 30px;
        word-break: keep-all;
        font-size: 13px;
        font-weight: var(--fw-regular);
      }

      .selected {
        background-color: #2fd714;
        border: 1px solid #2fd714;
        color: #fff;
        font-weight: var(--fw-medium);
      }
    }
  }

  .modalFooter {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    > button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      padding: 12px 0;
      border-radius: 6px;
      font-size: 15px;
      font-weight: var(--fw-medium);
    }
    .closeBtn {
      background-color: #c7c7c7;
      color: #8c8c8c;
    }
    .applyBtn {
      background-color: #2fd714;
      color: #fff;
    }
  }
}
