.exploreBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  width: 100%;
  background-color: #fff;

  > .searchInput {
    background: url('/assets/ico_search-outline.svg') no-repeat 13px 50%;
    width: 93%;
    height: 34px;
    padding-left: 40px;
    border: none;
    border-radius: 12px;
    background-color: #f1f1f1;
    font-size: 13px;
    color: #333;
    outline: none;
    &::placeholder {
      color: #b3b3b3;
    }
    &:focus {
      background: none;
      padding-left: 13px;
      border: none;
      background-color: #f1f1f1;
      &::placeholder {
        color: transparent;
      }
    }
  }
}
