.searchContainer {
  position: relative;
}

.postContainer {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: calc(100dvh - 104.5px);
  overflow-y: scroll;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
  &::-webkit-scrollbar {
    display: none;
  }
}
