.container {
  position: relative;
  max-width: 430px;
  height: 100dvh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  button {
    cursor: pointer;
  }
}

.shopInfo {
  width: 100%;
  padding: 0 16px;
  margin-bottom: 20px;

  > a {
    display: block;
    background-color: #f1f1f1;
    border-radius: 0.75rem;
    color: #000;
    font-weight: bold;
    padding: 20px;
  }
}

.shopInfo h4 {
  font-size: 0.875rem;
  margin: 0;
}

.shopInfo h3 {
  margin: 0;
  font-size: 1rem;
}

.tabContainer {
  padding: 12px 16px 0 16px;
  > button {
    width: 25%;
    padding-bottom: 10px;
    transition: all 0.5s;
    background-color: #fff;
  }

  > .tabButton {
    border-bottom: 2px solid #f5f5f5;
    color: #ccc;
    text-align: center;
  }

  > .active {
    border-bottom: 2px solid #2fd714;
    color: #000;
    font-weight: bold;
  }
}

.customBackground {
  width: 100%;
  border-radius: 8px;

  .profilePreview {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    > .setting {
      position: absolute;
      right: 16px;
      top: 16px;
    }
    .imageContainer {
      position: absolute;
      width: 50%;
      height: 100%;
      z-index: 90;
      .imageBox {
        position: relative;
        width: 100%;
        height: 80%;
        border-radius: 50%;
        overflow: hidden;
        transform: translate(0px, 12%);

        .emoji,
        .profileBg {
          position: absolute;
        }
        .animalBody,
        .frame {
          position: absolute;
          transform: translate(0%, -100%);
          z-index: 2;
        }
        .profileWrapper {
          width: 100%;
          height: 100%;
        }
        .emoji {
          transform: translate(-50%, 35%);
          width: 100%;
          height: 80%;
          left: 50%;
          z-index: 4;
        }

        .frame {
          width: 100%;
          height: 100%;
          z-index: 5;
        }

        .profileBg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .wallPaper {
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}

.customFnc {
  z-index: 10;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  top: 13px;
  right: 13px;

  > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 12px;
  }
}

.possessionCoinWrap {
  z-index: 11;
  position: absolute;
  justify-self: center;
  top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;

  .possessionCoin {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 12px;
    background-color: #fff;
    border: 1px solid #eff0f0;
    border-radius: 34px;
    font-size: 14px;
    color: #1a1a1a;
    > img {
      height: 17px;
      width: auto;
    }
  }
}
.setting {
  position: absolute;
  right: 30px;
  top: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: rgba(#fff, 0.5);
  z-index: 91;
  > img {
    width: 18px;
    height: 18px;
    fill: #fff;
  }
}
.paddingContainer {
  padding: 12px 16px;
}
