.container {
  position: fixed !important;
  width: 100%;
  max-width: 430px;
  height: 85px;
  max-width: 430px;
  bottom: 0;
  gap: 32px;
  display: flex !important;
  align-items: center;
  border-top: 1px solid #f6f6f6;
  padding: 8px 22px 18px 22px;
  background: #fff;
}

.messageDiv {
  position: relative;
}

.alarm {
  position: absolute;
  left: 12px;
  top: -6px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  &.medium {
    width: 17px;
  }
  &.large {
    width: 24px;
    border-radius: 100vmax;
  }
  background: #eb2c19;
  color: #fff;
  font-size: 10px;
  font-weight: var(--fw-bold);
}
