.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  flex: 0.7;
  border-radius: 6px;
  border: 1px solid #eff0f0;
  outline: none;
}

.inputDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  label {
    flex-basis: 100%;
  }
  .buttonSpan {
    flex: 0.3;
  }
}
