.titleSpan {
  display: block;
  margin-bottom: 9px;
  font-weight: var(--fw-medium);
  font-size: 13px;
  color: #444444;
}

.inputDiv {
  display: flex;
  gap: 8px;
}

.label {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #eff0f0;
  padding-right: 10px;
  input {
    flex: 1;
    width: 100%;
    border: 0;
    outline: none;
    padding: 12px 12.86px;
    font-size: 13px;
    font-weight: var(--fw-medium);
    &::placeholder {
      color: #d9d9d9;
    }
    &:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-text-fill-color: 글자색;
      -webkit-box-shadow: 0 0 0px 1000px 배경색 inset;
      transition: background-color 5000s ease-in-out 0s;
    }
  }
}
.button {
  width: 67px;
  border-style: solid;
  border-width: 0;
  border-radius: 6px;
  padding-block: 12px;
  text-align: center;
  font-size: 13px;
  font-weight: var(--fw-semiBold);
  &.active {
    background: #2fd714;
    color: #fff;
  }
  &.inactive {
    border-width: 1px;
    border-color: #eff0f0;
    color: rgba(68, 68, 68, 0.6);
  }
}
