.description {
  color: #b3b3b3;
  font-size: 10px;
  font-weight: var(--fw-medium);
  line-height: 15px;
}

.title {
  margin-top: 49px;
  line-height: 30px;
  color: #000;
  font-size: 20px;
  font-weight: var(--fw-semiBold);
}

.avatarDiv {
  margin-block: 28px 16px;
  text-align: center;
}

.formDiv {
  margin-bottom: 117px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
