.description {
  color: #b3b3b3;
  font-size: 10px;
  font-weight: var(--fw-medium);
  line-height: 15px;
}

.title {
  margin-top: 49px;
  line-height: 30px;
  color: #000;
  font-size: 20px;
  font-weight: var(--fw-semiBold);
}

.avatarDiv {
  margin-block: 28px 16px;
  text-align: center;
}

.formDiv {
  margin-bottom: 117px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.select {
  position: relative;
  h3 {
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: var(--fw-regular);
  }
}

.labelWrapper {
  display: flex;
  gap: 8px;
  input {
    display: none;
  }
  label {
    cursor: pointer;
    flex: 1;
    display: block;
    background-color: #fff;
    border-radius: 8px;
    padding-block: 17px;
    text-align: center;
    font-size: 13px;
    font-weight: var(--fw-medium);
    color: #8c8c8c;
  }
  label:has(input:checked) {
    background-color: #2fd714;
    color: #fff;
  }
}

.description {
  position: absolute;
  top: calc(100% + 4px);
  text-indent: 12px;
  font-size: 12px;
  font-weight: var(--fw-regular);
  color: #ff0a36;
  span {
    position: absolute;
    left: -4px;
    top: 1px;
    width: fit-content;
    height: fit-content;
    font-weight: var(--fw-bold);
    font-size: 20px;
    line-height: 12px;
  }
  &.description {
    color: #8c8c8c;
  }
}

.buttonDiv {
  margin-top: 16px;
}
