@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}
.container {
  padding: 16px;
}
.titleInput {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  border: 0;
  padding: 8px 0;
  margin-top: 8px;
  margin-bottom: 14px;
  border-bottom: 1px solid #f9f9f9;
  @include placeholder {
    color: #d9d9d9;
  }
}

.contentBox {
  min-height: 317px;
}
.contentInput {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: none;
  border: none;
  font-size: 16px;
  margin: 22px 0;
  line-height: 20px;
  letter-spacing: normal;
  @include placeholder {
    color: #d9d9d9;
  }
}
