.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.category {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.toggled {
  color: #2fd714;
}
