.container {
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  scroll-snap-type: x mandatory;
  position: relative;
  border-radius: 12px;
}
.item {
  width: 100%;
  height: 180px;
  flex: none !important;
  background-color: aqua;
  scroll-snap-align: start;
}
.containerWrapper {
  padding: 16px;
}
