.container {
  position: relative;
  max-width: 430px;
  height: 100dvh;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 16px;
}

.exploreBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  > .backButton {
  }

  > .searchInput {
    background: url('/ico_search-outline.svg') no-repeat 13px 50%;
    width: 93%;
    height: 34px;
    padding-left: 40px;
    border: none;
    border-radius: 12px;
    background-color: #f1f1f1;
    font-size: 17px;
    color: #333;
    outline: none;
    &::placeholder {
      color: #b3b3b3;
    }
    &:focus {
      background: none;
      padding-left: 13px;
      border: none;
      background-color: #f1f1f1;
      &::placeholder {
        color: transparent;
      }
    }
  }
}

.recordHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 12px 0;
  color: #6b6b6b;

  .recentRecord {
    font-weight: 500;
  }
  .recordSwitch {
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: 300;
  }
}

.searchRecords {
  display: flex;
  flex-direction: column;

  .record {
    display: flex;
    justify-content: space-between;
    padding: 23px 13px 0 13px;
  }
}
