.notFondContainer {
  height: calc(100dvh - 85px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;

  .number {
    font-size: 100px;
    line-height: 1;
    font-weight: var(--fw-semiBold);
    color: #d9d9d9;
  }
  .logo {
    margin: 10px 0 5px 0;
  }
  h5 {
    font-weight: var(--fw-semiBold);
    font-size: 15px;
  }
  span {
    margin-top: 7px;
    font-size: 12px;
    color: #8a8a8a;
  }
}
