.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.background {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  > svg {
    // fill: #afafaf;
  }
}
.activeBackground {
  > svg {
    fill: #2fd714;
  }
}
.title {
  text-align: center;
  color: #afafaf;
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.activeTitle {
  text-align: center;
  color: #2fd714;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
