.buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  button {
    cursor: pointer;
  }
}

.buttonDiv {
  position: relative;
  border-radius: 12px;
  padding: 15px 20px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  &.kakao {
    background: #ffe613;
    color: #000;
  }
  &.naver {
    background: #1ec800;
    color: white;
  }
  &.google,
  &.email {
    border: 1px solid #eff0f0;
  }
}

.iconSpan {
  position: absolute;
  left: 20px;
}
