.container {
  position: relative;
  max-width: 430px;
  height: 100dvh;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 16px;
}

.exploreBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;

  > .searchInput {
    background: url('/assets/ico_search-outline.svg') no-repeat 13px 50%;
    width: 93%;
    height: 34px;
    padding-left: 40px;
    border: none;
    border-radius: 12px;
    background-color: #f1f1f1;
    font-size: 17px;
    color: #333;
    outline: none;
    &::placeholder {
      color: #b3b3b3;
    }
    &:focus {
      background: none;
      padding-left: 13px;
      border: none;
      background-color: #f1f1f1;
      &::placeholder {
        color: transparent;
      }
    }
  }
}
.interestsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5px;

  > span {
    font-size: 12px;
    font-weight: 600;
    color: #6b6b6b;
    margin-bottom: 10px;
  }

  .tagBox {
    width: 100%;
    overflow-x: auto;
    display: flex;
    gap: 8px;
    font-size: 12px;
    margin-bottom: 13px;
    white-space: nowrap;

    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
    &::-webkit-scrollbar {
      display: none;
    }

    .tag {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      border-radius: 20px;
      padding: 4px 8px;
      font-size: 12px;
      background-color: #f1f1f1;
      > img {
        width: 12px;
      }
    }
  }
}
.recordHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding: 12px 0;
  color: #6b6b6b;

  .recentRecord {
    font-weight: 600;
  }

  .recordSwitch {
    display: flex;
    align-items: center;
    gap: 3px;
    font-weight: 400;
  }
}

.searchRecords {
  display: flex;
  flex-direction: column;

  .record {
    display: flex;
    justify-content: space-between;
    padding: 23px 13px 0 13px;
  }
}
