.container {
  display: flex;
  gap: 13px;
  border-bottom: 1px solid #e3e3e3;
  padding-top: 7px;
}
.avatarSpan {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.textDiv {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .sender {
    font-size: 13px;
  }
  .time {
    font-size: 10px;
    color: #99999b;
  }
  .content {
    flex-basis: 100%;
    font-size: 12px;
    padding: 10px;
  }
}
