.container {
  display: flex;
  gap: 48px;
  align-items: center;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 4px 16px;
  margin-top: 12px;
}
.firstDropdown {
  left: 180px !important;
}
.secondDropdown {
  left: 293px !important;
}
