.container {
  width: 100%;
  margin: 32px 0;
}
.titleContainer {
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}
.titleWrapper {
  display: flex;
  gap: 4px;
}

.title {
  display: flex;
  align-items: center;
  height: 100%;
  color: #000;
  font-family: Pretendard;
  font-size: 19px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.postContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.animalContainer {
  display: flex;
  width: 100%;
  align-items: flex-start;
  gap: 4px;
  margin: 16px 0;
}
