.container {
  width: 100vw;
  height: 48px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.titleWrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.title {
  text-align: center;
  margin: 0 auto;

  font-family: 'Pretendard Variable';
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.iconWrapper {
  width: max-content;
  display: flex;
  gap: 12px;
}
